

.stacked {
  display:block;
}

.submit {
  padding-top: 50px;
}

.main h1 {
  color:blue;
  text-align:center;
  font-size:50px;
  font-family: 'Lobster';
  text-decoration: underline;
}

#persontext {
  font-family: 'Oswald';
  text-align: center;
}

#person {
  text-align: center;
}


#btn {
  color:blue;
  font-size: 100px;
  text-decoration: bold;
  font-family: 'Oswald';
}

img {
  height :200px;
  width:200px;
}

