<html ng-app="project">
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
	  <script src="Index.js"></script>
	  <link rel='stylesheet' href='league.css'></link>
</head>
<body ng-controller="appController">
<h1>What is your league name? {{myStatus}} {{sumId}}</h1>

<input ng-model="sumName"></input>
<button ng-click="clicked()">Click me twice</button>
<h2>{{sumName}} is {{datas}}</h2>
<h2>{{sumName}} is {{names}}</h2>

</body>
<footer>
LeagueStuff isn't endorsed by Riot Games and doesn't reflect the views or opinions of Riot Games or anyone officially involved in producing or managing League of Legends. League of Legends and Riot Games are trademarks or registered trademarks of Riot Games, Inc. League of Legends © Riot Games, Inc.
</footer>
</html>
